#dbMeter {
    background-color: #000;
}

.enable-btn {
    height: 30px;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.range-slider {

    height: 40px;
    width: 40px;
    position: absolute !important;
    bottom: 50px;
    left: 20px;
}

.dist-slider {
    left: 60px;
}

.tone-slider {
    left: 100px;
}